.bg-container{
    background-color:rgb(156, 125, 152)105, 129, 129);
    height: 100vh;
    
    
}

.add-button{
    background-color: darkseagreen;
    border-radius: 8px;
    border-width: 0px;

}

.container{
    display: flex;
    justify-content: space-between;
}